@import "myvariables.module";

aside {
    .navbarToggler {
        position: fixed;
        top: 9px;
        right: 9px;
        font-size: 15px;
        width: 48px; 
        background-color: #fff;
    }
}
.asideOffcanvas {     
    // background-color: $boxColor;
    color: #fff;
    display: block!important;
    .logo {
        margin: 0 25%;
    }
    .navbar-nav {
        img {
            width: 50px;                
        }
    }
     
    .row {
        h2 {
            font-size: 13px;
            border-left: 4px solid #38a9ff;
            padding: 8px 7px;
            background-color: $boxBgColor;
        }
        img {
            width: 22px;
            margin-top: 1px;
        }
        span {
            font-size: 12px;
        }
    }        
}   