@import "myvariables.module";
.footer {
    width: 100%;
    background-color: #292c31;
    color: #fff;
    border-top: 1px solid #38a9ff;
  }
  
  .footertext {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
  }