@import "myvariables.module";

.datePickerMatches {
    width: 200px;
    margin: 0 auto;
    background: #1e1f24;
    border: 1px solid;
    color: #fff;
}

.matchBoard {
    background-color: $boxBgColor;
    color: #fff;
    font-size: 13px;
    padding: 10px;
    .championship {
        margin: 1%;
        background: #116efd;
        padding: 0.5%;
        border-radius: 0 8px 8px 0;
        img {
            margin-right: 10px;
            width: 26px;
            margin-top: -2px;        
        }
    }
    .biStar {
        font-size: 20px;
    }
    .match {
        color: #9a9da2;
        border-left: 1px solid #116efd;
        padding: 7px 0;
        background: #1e1f24;
        margin: 1%;
        border-radius: 0px 8px 8px 0;        
        img {
            width: 20px;
            margin-top: 3px;
            float: right!important;
        }        
        .lastGoal {
            border-left: 8px solid #38a9ff;
        }
        .lastGoal {
            content: "";
            display: block;
            position: absolute;
            left: -5px;
            top: 50%;
            width: 0;
            height: 0;
            border-left: 8px solid #38a9ff;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            transform: translateY(-50%);
        }
        .liveMatch {
            color: #ff0000;
        }
    }    
    .newGoal {
        background: #600606;
    }
    .noMatchResult {
        padding: 10px;
        border: 1px solid #fff;
        background: #600606;
        text-align: center;
        margin-top: 10px;
    }
}